.App {
  text-align: center;
  width: 800px;
  margin: auto;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.console {
  font-family: Courier, Consolas;
  font-size: 12px;
  width: 100%;
  display: block;
  max-width: 100%;
  box-sizing: border-box;
  height: 200px;
  background: #efefef;
  padding: 0.5em;
  overflow: auto;
  white-space: pre;
}
